body {
    font-family: 'Roboto', sans-serif;
}

.font-rbt-cond {
    font-family: 'Roboto Condensed', sans-serif;
}

.brand-logo img {
    margin-top: 0.8rem;
    max-height: 35px;
}

#index-banner{
    background: url(../img/home/backlit-bright-dawn-697243.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}